.ad-block{
    width: auto;
    height: auto;
    aspect-ratio: 6.4/1;
    background-color: #E3F6FF;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    font-size: 2rem;
    color: cadetblue;
    
}

.tags-container ul li{
    list-style: none;
    display: inline-block;
    border: 2px solid #91D8E4;
    border-radius: .2rem;
    padding: .4rem;
    margin-inline: .2rem;
    background-color: #EAFDFC;
    color: #91D8E4;

}