


:root{
    color-scheme: dark;
}

.author-image{
    min-width: 2rem;
    min-height: 2rem;
    max-width: 3rem;
    max-height: 3rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: red;
    background-image: url('https://images.unsplash.com/photo-1511367461989-f85a21fda167');
}








.ad-block{
    width: auto;
    height: auto;
    aspect-ratio: 6.4/1;
    background-color: #E3F6FF;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    font-size: 2rem;
    color: cadetblue;
    
}



.tags-container ul{
    padding-inline-start: 0px;
}
    .tags-container ul li{
    list-style: none;
    display: inline-block;
    border: .1px solid #4D727E;
    border-radius: .1rem;
    padding-inline: .5rem;
    margin-inline-end: .2rem;
    background-color: #EEEEEE;
    color: #1F4E5F;

}

.tags-container ul li:nth-child(1){
    background-color: black;
    color: white;
}